@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display");
@font-face {
  font-family: "Major Mono Display", monospace;
  src: url("https://fonts.googleapis.com/css?family=Major+Mono+Display");
}

@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@font-face {
  font-family: "Indie Flower", cursive;
  src: url("https://fonts.googleapis.com/css?family=Indie+Flower");
}

@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

.header-color {
  background: #ad5389; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3c1053,
    #ad5389
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3c1053,
    #ad5389
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer-color {
  background: #ad5389; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3c1053,
    #ad5389
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3c1053,
    #ad5389
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: white;
  text-align: center;
}
.avatar-img {
  padding: 5em;
  height: 220px;
}

.banner-text {
  /* background: black; */
  background: #ad5389; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3c1053,
    #ad5389
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3c1053,
    #ad5389
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}
.banner-text h3 {
  /* font-size: 66px;
  font-weight: bold; */
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.projects-grid {
  display: flex;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: "Anton", sans-serif;
}

.contact-grid p {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 30px;
  padding-right: 2rem;
}

.contact-list a {
  font-family: "Indie Flower", cursive;
}
/* contact page css */

.avatar-img {
  height: 250px;
  padding-top: 5em;
}

/* Resume page */
.resume-right-col {
  background: #27221f;
  color: white;
}

/* Header Component Font Styling */
.header-words {
  font-family: "Major Mono Display", monospace;
}

.Experience {
  margin-top: 5%;
  /* border: solid 2px #3c1053;
  border-radius: 15px; */
}

.Experience h1 {
  font-family: "Source Code Pro", monospace;
}

.about-grid {
  position: relative;
  background: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 2%;
}
/* Typewriter for Header */

.header-type h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
